/* Standard Tables */

table {
  margin: 1em 0;
  border-collapse: collapse;
}

button:focus {outline:0;}

caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

th {
  vertical-align: bottom;
  background-color: #666;
  color: #fff;
}

tr:nth-child(even) th[scope=row] {
  background-color: #f2f2f2;
}

tr:nth-child(odd) th[scope=row] {
  background-color: #e0e0e0;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

tr:nth-child(odd) {
  background-color:   #e0e0e0;
}

/*
.colheaders td:nth-of-type(2) {
  font-style: italic;
}

.colheaders th:nth-of-type(3),
.colheaders td:nth-of-type(3) {
  text-align: right;
}

.rowheaders td:nth-of-type(1) {
  font-style: italic;
}

.rowheaders th:nth-of-type(3),
.rowheaders td:nth-of-type(2) {
  text-align: right;
}
*/
/* Fixed Headers */
/*
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}



.fix_2{
  position: -webkit-sticky;
  position: fixed;
  left: 0;
  z-index: 1;
}
*/

th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

th[scope=row] {
  vertical-align: middle;
  color: inherit;
  background-color: inherit;
  background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

th:not([scope=row]):first-child {
  left: 0;
  z-index: 3;
  background: #7a7a7a;
}

tr:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

/* Scrolling wrapper */

div[tabindex="0"][aria-labelledby][role="region"] {
  overflow: auto;
}

div[tabindex="0"][aria-labelledby][role="region"]:focus {
  box-shadow: 0 0 .5em rgba(0,0,0,.5);
  outline: .1em solid rgba(0,0,0,.1);
}

div[tabindex="0"][aria-labelledby][role="region"] table {
  margin: 0;
}

div[tabindex="0"][aria-labelledby][role="region"].rowheaders {
 /* background:
    linear-gradient(to right, transparent 30%, rgba(255,255,255,0)),
    linear-gradient(to right, rgba(255,255,255,0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,0.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,0.2), rgba(0,0,0,0)) 0 100%; */
  background-repeat: no-repeat;
  background-color: #f1f1f1;;
  background-size: 4em 100%, 4em 100%, 1.4em 100%, 1.4em 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

div[tabindex="0"][aria-labelledby][role="region"].colheaders {
  background:
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100% 4em, 100% 4em, 100% 1.4em, 100% 1.4em;
  background-attachment: local, local, scroll, scroll;
}

/* Strictly for making the scrolling happen. */

th[scope=row] {
  min-width: 20vw;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat';
  border-right: 7px solid #8080803d;
}

@media all and (min-width: 30em) {
  th[scope=row] {
    min-width: 250px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat';
    border-right: 7px solid #8080803d;
  }
}

th[scope=row] + td {
  min-width: 100px;
}

@media all and (min-width: 30em) {
  th[scope=row] + td {
    min-width: 400px;
  }
}


/*
div[tabindex="0"][aria-labelledby][role="region"]:nth-child(3) {
  max-height: 18em;
}*/

div[tabindex="0"][aria-labelledby][role="region"]:nth-child(7) {
  max-height: 15em;
  margin: 0 1em;
}

td{
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
  font-size: 9px;
  border-left: 1px solid #8080803d;
}

@media all and (min-width: 30em) {
  td{
    text-align: center;
    vertical-align: middle;
    min-width: 400px;
    font-size: 13px;
    border-left: 1px solid #8080803d;
  }
}

.titule-line{
  color: #fff;
  background-color: var(--red);
  border-radius: 28px;
  font-size: 9px;
  padding: 3px 18px;
  font-weight: bold;
}

@media all and (min-width: 30em) {
  .titule-line{
    color: #fff;
    background-color: var(--red);
    border-radius: 28px;
    font-size: 14px;
    padding: 3px 18px;
    font-weight: bold;
  }
}

.titule-image{
  margin: 15px;
  border-radius: 28px;
  width: 100px;
  height: 100px;
}

@media all and (min-width: 30em) {
  .titule-image{
    margin: 15px;
    border-radius: 28px;
    width: 200px;
    height: 200px;
  }
}

.body-comparatif{
  height: 550px;
}


@media all and (min-width: 30em) {
  .body-comparatif{
    height: 800px;
  }
}

.logo-comparatif{
  width: 100px ;
}
@media all and (min-width: 30em) {
  .logo-comparatif{
    width: 200px ;
  }
}
.button-comparatif{
  font-size: 12px;
  font-family: montserrat;
  margin: 10px;
  background-color: var(--red);
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 2px 2px 2px #9f9f9fa1;
}
@media all and (min-width: 30em) {
  .button-comparatif{
    width: 200px;
  }

  .button-comparatif:hover{
    font-size: 12px;
    font-family: montserrat;
    margin: 10px;
    background-color: var(--red);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    width: 200px;
    text-transform: capitalize;
    box-shadow: 2px 2px 2px #9f9f9fa1;
    opacity: 0.8;
  }
}

.button-comparatif-comm{
  margin: 2px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

@media all and (min-width: 30em) {
  .button-comparatif-comm:hover{
    margin: 2px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }
}
