
input.field{
width:450px;
border:0;
background-color:#e3e3e3;
border-radius:13px;
padding:5px 15px 5px 15px;
height:40px!important;
line-height:40px!important;
color:#9e9e9e;
}
textarea.field{
width:450px;
border:0;
background-color:#e3e3e3;
border-radius:13px;
padding:5px 15px 5px 15px;
height:350px;
line-height:40px!important;
color:#9e9e9e;
}

input.field2{
  width: 309px;
  height: 54px;
  color:#FFF;
  background: var(--red) 0% 0% no-repeat padding-box;
  border: 2px solid #70707042;
  border-radius: 15px;
  }

h1.titre_form{
  text-align: center;
  font: normal normal 900 43px/29px Montserrat, Arial;
  letter-spacing: 0px;
  color: #222222;
  }

  h1.titre_form span{
  text-align: left;
  font: normal normal normal 19px/12px Montserrat, Arial;
  letter-spacing: 0px;
  color: #222222;
  }

  @media (max-width: 500px) {
    input.field, select.field, textarea.field, input.field2 {
      width: 100% !important;
    }

    .botaoApp3D {
      margin-left: 10px;
      background: transparent;
      color: #FFF !important;
      padding: 5px 6px !important;
      transition:all 0.1s ease !important;
      border-radius: 10px !important;
      border: 2px solid var(--red) !important;
      margin-left: 10px;

      box-shadow: 0 0 0 0 rgba(224, 3, 3, 1);
      animation: pulse 1s infinite;
      cursor: pointer;
    }

    .botaoApp3D.custom-birthday {
      border: 2px solid #daa520 !important;
    }

    .botaoApp3D i.logo-yt {
      color: #e00303;
      margin-right: 5px;

      font-size: 20px;
      margin-bottom: 2px;
    }

    .botaoApp3D:hover i.logo-yt {
      color: #FFF;
    }

    .botaoApp3DCoupon:hover {
      background: #999999 !important;
      color: #FFF !important;
    }

    .botaoApp3DCoupon {
      margin-left: 10px;
      background: transparent;
      color: #FFF !important;
      padding: 1px 6px !important;
      transition:all 0.1s ease !important;
      border-radius: 10px !important;
      border: 2px solid #999999 !important;
      margin-left: 10px;

      box-shadow: 0 0 0 0 rgb(158, 158, 158);
      animation: pulse 1s infinite;
      cursor: pointer;
    }
