#main { padding-bottom: 0; }

#content {
    padding-top: 62px!important;
    padding-bottom: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.page-sidebar-closed #content {
    margin-left: 50px!important;
}

#footer { display: none!important; }