#main { padding-bottom: 0; }

#content {
    padding-top: 100px!important;
    padding-bottom: 0!important;
    margin: 4px -10px 0 -15px;
}

#content .page-subtitle { display: none!important; }

#footer { display: none!important; }