#content {
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
}

#footer {
    display: none!important;
}

#reduxWebAdmin {
    border-top: 1px solid #dee2e6;
}