#main { padding-bottom: 0; }

#content {
    padding-top: 100px!important;
    padding-bottom: 0!important;
    padding-left: 0!important;
    margin: 0 -10px 0 0;
}

.page-sidebar-closed #content {
    margin-left: 50px!important;
}

#content .page-subtitle { display: none!important; }

#footer { display: none!important; }