<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>spcustomhtml</name>
    <displayName><![CDATA[SP Custom Html]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[This Module allows you to create your own HTML Module using a WYSIWYG editor.]]></description>
    <author><![CDATA[MagenTech]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>