body#checkout {
  color: #232323
}

.done {
  color: #4cbb6c;
  display: inline-block;
  padding: 0 .8125rem;
  margin-right: 1.563rem
}

body#checkout #header .header-nav .logo {
  max-height: 4.375rem;
  width: auto
}

body#checkout .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

body#checkout .custom-checkbox span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
  margin-top: .1875rem
}


body#checkout a:hover {
  color: var(--red)
}

body#checkout section#content {
  margin-bottom: 1.563rem
}

body#checkout .container {
  min-height: 100%
}

body#checkout section.checkout-step {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  padding: .9375rem
}

body#checkout section.checkout-step:last-child {
  border: 0
}

body#checkout section.checkout-step .step-title {
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0
}

body#checkout section.checkout-step .content {
  padding: 0 2.313rem
}

body#checkout section.checkout-step .step-edit {
  text-transform: lowercase;
  font-weight: 400
}

body#checkout section.checkout-step .step-edit .edit {
  font-size: 1rem
}

body#checkout section.checkout-step .not-allowed {
  cursor: not-allowed;
  opacity: .5
}

body#checkout section.checkout-step .content,
body#checkout section.checkout-step .done,
body#checkout section.checkout-step .step-edit {
  display: none
}

body#checkout section.checkout-step.-current .content {
  display: block
}

body#checkout section.checkout-step.-current.-reachable.-complete .done,
body#checkout section.checkout-step.-current.-reachable.-complete .step-edit {
  display: none
}

body#checkout section.checkout-step.-current.-reachable.-complete .step-number {
  display: inline-block
}

body#checkout section.checkout-step.-current.-reachable.-complete .content {
  display: block
}

body#checkout section.checkout-step.-reachable.-complete h1 .done {
  display: inline-block
}

body#checkout section.checkout-step.-reachable.-complete h1 .step-number {
  display: none
}

body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: .125rem;
  color: #7a7a7a
}

body#checkout section.checkout-step.-reachable.-complete .content {
  display: none
}

body#checkout section.checkout-step small {
  color: #7a7a7a
}

body#checkout section.checkout-step .default-input {
  min-width: 40%
}

body#checkout section.checkout-step .default-input[name=address1],
body#checkout section.checkout-step .default-input[name=address2] {
  min-width: 60%
}

body#checkout section.checkout-step .radio-field {
  margin-top: 1.875rem
}

body#checkout section.checkout-step .radio-field label {
  display: inline
}

body#checkout section.checkout-step .checkbox-field div {
  margin-top: 3.75rem
}

body#checkout section.checkout-step .checkbox-field+.checkbox-field div {
  margin-top: 0
}

body#checkout section.checkout-step .select-field div {
  background: #f6f6f6;
  padding: .625rem 3.125rem
}

body#checkout section.checkout-step .form-footer {
  text-align: center
}

body#checkout section.checkout-step #conditions-to-approve {
  padding-top: 1rem
}

body#checkout section.checkout-step .payment-options label {
  display: table-cell
}

body#checkout section.checkout-step .payment-options .custom-radio {
  margin-right: 1.25rem
}

body#checkout section.checkout-step .payment-options .payment-option {
  margin-bottom: .5rem
}

body#checkout section.checkout-step .step-number {
  display: inline-block;
  padding: .625rem
}

body#checkout section.checkout-step .address-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

body#checkout section.checkout-step .address-item {
  background: #f6f6f6;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-bottom: .625rem;
  border: 3px solid transparent
}

body#checkout section.checkout-step .address-item.selected {
  background: #fff;
  border: 3px solid var(--red)
}

body#checkout section.checkout-step .address-alias {
  display: inline-block;
  font-weight: 600;
  margin-bottom: .625rem
}

body#checkout section.checkout-step .address {
  margin-left: 1.563rem;
  font-weight: 400
}

body#checkout section.checkout-step .radio-block {
  padding: .9375rem;
  text-align: left;
  cursor: pointer
}

body#checkout section.checkout-step .custom-radio {
  margin-right: 0
}

body#checkout section.checkout-step .custom-radio input[type=radio] {
  height: 1.25rem;
  width: 1.25rem
}

body#checkout section.checkout-step .delete-address,
body#checkout section.checkout-step .edit-address {
  color: #7a7a7a;
  display: inline-block;
  margin: 0 .3125rem
}

body#checkout section.checkout-step .delete-address .delete,
body#checkout section.checkout-step .delete-address .edit,
body#checkout section.checkout-step .edit-address .delete,
body#checkout section.checkout-step .edit-address .edit {
  font-size: 1rem
}

body#checkout section.checkout-step hr {
  margin: 0
}

body#checkout section.checkout-step .address-footer {
  text-align: center;
  padding: .625rem
}

body#checkout section.checkout-step #delivery-addresses,
body#checkout section.checkout-step #invoice-addresses,
body#checkout section.checkout-step .add-address {
  margin-top: 1.25rem
}

body#checkout section.checkout-step .add-address a {
  color: #232323
}

body#checkout section.checkout-step .add-address a i {
  font-size: .9375rem
}

body#checkout section.checkout-step .delivery-option {
  background: #f6f6f6;
  padding: .9375rem 0;
  margin-bottom: .9375rem
}

body#checkout section.checkout-step .delivery-option label {
  text-align: inherit
}

body#checkout section.checkout-step .carrier-delay,
body#checkout section.checkout-step .carrier-name {
  display: inline-block;
  word-break: break-word;
  text-align: left
}

body#checkout section.checkout-step #customer-form,
body#checkout section.checkout-step #delivery-address,
body#checkout section.checkout-step #invoice-address,
body#checkout section.checkout-step #login-form {
  margin-left: .3125rem;
  margin-top: 1.563rem
}

body#checkout section.checkout-step #customer-form .form-control-label,
body#checkout section.checkout-step #delivery-address .form-control-label,
body#checkout section.checkout-step #invoice-address .form-control-label,
body#checkout section.checkout-step #login-form .form-control-label {
  text-align: left
}

body#checkout section.checkout-step #customer-form .radio-inline,
body#checkout section.checkout-step #delivery-address .radio-inline,
body#checkout section.checkout-step #invoice-address .radio-inline,
body#checkout section.checkout-step #login-form .radio-inline {
  padding: 0
}

body#checkout section.checkout-step .sign-in {
  font-size: .875rem
}

body#checkout section.checkout-step .forgot-password {
  margin-left: 14.38rem
}

body#checkout .additional-information {
  font-size: .875rem;
  margin-left: 2.875rem;
  margin-top: 1.25rem;
  margin-bottom: 30px;
}

body#checkout .condition-label {
  margin-left: 2.5rem;
  margin-top: .625rem
}

body#checkout .condition-label label {
  text-align: inherit
}

body#checkout .cancel-address {
  margin: .625rem;
  display: block;
  color: #7a7a7a;
  text-decoration: underline
}

body#checkout .modal-content {
  padding: 1.25rem;
  background-color: #f1f1f1
}

body#checkout #cart-summary-product-list {
  font-size: .875rem
}

body#checkout #cart-summary-product-list img {
  border: 1px solid #f1f1f1;
  width: 3.125rem
}

body#checkout #cart-summary-product-list .media-body {
  vertical-align: middle
}

body#checkout #order-summary-content {
  padding-top: .9375rem
}

body#checkout #order-summary-content h4.h4 {
  margin-top: .625rem;
  margin-bottom: 1.25rem;
  color: #232323
}

body#checkout #order-summary-content h4.black {
  color: #000
}

body#checkout #order-summary-content h4.addresshead {
  margin-top: .1875rem
}

body#checkout #order-summary-content .noshadow {
  box-shadow: none
}

body#checkout #order-summary-content #order-items {
  border-right: 0
}

body#checkout #order-summary-content #order-items h3.h3 {
  color: #232323;
  margin-top: 1.25rem
}

body#checkout #order-summary-content #order-items table tr:first-child td {
  border-top: 0
}

body#checkout #order-summary-content .order-confirmation-table {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 3px solid #e5e5e5;
  border-radius: 0
}

body#checkout #order-summary-content .summary-selected-carrier {
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  padding: 1rem
}

body#checkout #order-summary-content .step-edit {
  display: inline;
  color: #7a7a7a
}

body#checkout #order-summary-content .step-edit:hover {
  cursor: pointer
}

body#checkout #order-summary-content a .step-edit {
  color: #7a7a7a
}

body#checkout #delivery,
body#checkout #gift_message {
  max-width: 100%;
  border-color: #232323
}

body#checkout #delivery textarea,
body#checkout #gift_message textarea {
  max-width: 100%;
  margin-bottom: 10px
}

body#checkout #footer {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
  background: #fff;
  color: #7a7a7a
}
