.cart-grid {
  margin-bottom: 1rem
}

.cart-items {
  margin-bottom: 0
}

.cart-item {
  padding: 1rem 0
}

.cart-summary-line {
  clear: both
}

.cart-summary-line:after {
  content: "";
  display: table;
  clear: both
}
.cart-summary-line .label {
  padding-left: 0;
  font-weight: 400;
  white-space: inherit
}
.cart-summary-line .value {
  color: #232323;
  float: right
}
.cart-summary-line.cart-summary-subtotals .label,
.cart-summary-line.cart-summary-subtotals .value {
  font-weight: 400
}
.cart-grid-body {
  margin-bottom: .75rem;
}
.cart-grid-body a.label:hover {
  color: #ff0000
}

.cart-grid-body .card-block {
  padding: 1rem
}

.cart-grid-body .card-block h1 {
  margin-bottom: 0
}

.cart-grid-body .cart-overview {
  padding: 1rem
}

.cart-grid-right .promo-discounts {
  margin-bottom: 0
}

.cart-grid-right .promo-discounts .cart-summary-line .label {
  color: #7a7a7a
}
.cart-grid-right .promo-discounts .cart-summary-line .label .code {
  text-decoration: underline;
  cursor: pointer
}


.product-discount {
  color: #7a7a7a
}
.product-discount .regular-price {
  text-decoration: line-through;
  font-weight: 400;
  margin-right: .625rem
}

.has-discount.product-price,
.has-discount p {
  color: var(--red)
}





.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default {
    background: var(--red);
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-size: .875rem;
    padding: .5rem 1rem
}


.bootstrap-touchspin {
    width: auto;
    float: left;
    display: inline-block;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2)
}

.bootstrap-touchspin input:focus {
    outline: none
}


.bootstrap-touchspin input.form-control,
.bootstrap-touchspin input.input-group {
    color: #232323;
    background-color: #fff;
    height: 2.5rem;
    padding: .175rem .5rem;
    width: 3rem;
    border: 1px solid rgba(0, 0, 0, .25);
    float: left
}


.bootstrap-touchspin .btn-touchspin {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
    height: 1.3125rem
}

.bootstrap-touchspin .btn-touchspin:hover {
    background-color: #f1f1f1
}

.bootstrap-touchspin .input-group-btn-vertical {
    color: #232323;
    width: auto;
    float: left
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-radius: 0
}

.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after {
    content: "\E5CE"
}

.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after {
    content: "\E5CF"
}

.bootstrap-touchspin .input-group-btn-vertical i {
    top: .0625rem;
    left: .1875rem;
    font-size: .9375rem
}


.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 10px;
  margin-left: -1px;
  position: relative
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-radius: 0;
  border-top-right-radius: 4px
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  margin-top: -2px;
  border-radius: 0;
  border-bottom-right-radius: 4px
}

.bootstrap-touchspin .input-group-btn-vertical i {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 9px;
  font-weight: 400
}


.product-line-grid-right .cart-line-product-actions,
.product-line-grid-right .product-price {
    color: #232323;
    line-height: 36px
}

.product-line-grid-right .cart-line-product-actions .remove-from-cart,
.product-line-grid-right .product-price .remove-from-cart {
    color: #232323;
    display: inline-block;
    margin-top: .3125rem
}


@media screen and (max-width: 992px) {
  .info_credit_simulation.after_cart{
    margin-top: 200px;
  }

}

/****** Modification sur module pack de service à la commande *********/


/* display block sur lien 'continuer mes achats' pour float des deux blocs packs de service à la cde et imprimer un devis */

body#cart section#wrapper section#main a.label {
  display: block !important;
  text-align: left !important;
  margin-bottom: 5px !important;
}

#lineven_servicespacksorder {
  width: 23em !important;
  height: 437px !important;
  float: left !important;
  margin-right: 2em;
}


