
* { margin: 0; padding: 0; }

.fontSelect {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #cecece;
  cursor: pointer;
  display: block;
  float: left;
  height: auto;

  margin: 10px 0;
  padding: 3px;
  text-align: justify;
  width: 100%;
  z-index: 5;
  /*position:relative*/
}

.sizeSelector, .fontSelector, .colorSelector, .alignSelector, .concavMeSelector, .convexMeSelector, .applatMeSelector, .strokeSelector {
	font-size: 14px !important;
	margin: 0 10px;
	display: inline-block;
	line-height: 40px;
}

.sizeSelector::after, .fontSelector::after, .colorSelector::after, .strokeSelector::after {
	content: "\f078";
	display: inline-block;
	float: right;
	font-family: "FontAwesome";
	font-size: 10px;
	padding: 0;
	font-weight: lighter;
	line-height: 40px;
	margin-left: 3px;
}

.alignSelector {
	/* line-height: 30px; */
	float: right;
}

.alignSelector i{
  font-size: 20px!important;
  margin-right:5px
}

.fontSelect span {
	overflow: hidden;
	margin-left: 5px;
}

.fontSelect .arrow-down {
	position: absolute;
	right: 10px;
	top: 14px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-top: 6px solid #AAA;
}

.fontSelectUl, .fontSizeSelectUl, .fontColorSelectUl, .strokeColorSelectUl {
	list-style: outside none none;
	width: auto;
	position: absolute;
	left: auto;
	top: auto;
	padding: 10px;
	z-index: 5;
	background: #F5F5F5;
	border: 1px solid #dedede;
	box-shadow: 0px 0px 7px #ccc;
}

.fontSelectUl li, .fontSizeSelectUl li, .fontColorSelectUl li, .strokeColorSelectUl li {
  cursor: pointer;
  font-size: 14px;
  height: auto;
  line-height: 1.2em;
  overflow: hidden;
  padding: 0 10px;
}

.fontSelectUl li:last-child , .fontSizeSelectUl li:last-child , .fontColorSelectUl li:last-child, .strokeColorSelectUl li:last-child{
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;

	border-bottom: 1px solid #EEEEEE;
}

.fontSelectUl li:hover , .fontSizeSelectUl li:hover, .fontColorSelectUl li:hover, strokeColorSelectUl li:hover {
	background: #DDD;
}

.applatMeSelector{
	border: 1px solid transparent;
	height: 18px;
	margin-top: 8px;
	padding: 0;
	text-indent: -5000px;
	vertical-align: top;
	width: 18px;
	background: #666;
	margin-right:3px
}

.concavMeSelector {
  border: 1px solid transparent;
  height: 20px;
  margin-top: 8px;
  padding: 0;
  text-indent: -5000px;
  vertical-align: top;
  width: 20px;
  background: url('../img/concav.png') no-repeat 100% 100%;
  margin-right:3px
  }
 
 .convexMeSelector {
  border: 1px solid transparent;
   height: 20px;
   margin-top: 8px;
   padding: 0;
   text-indent: -5000px;
   vertical-align: top;
   width: 20px;
   background: url('../img/convex.png') no-repeat 100% 100%;
   margin-right:3px
   }
 
 .concavMeSelector, .convexMeSelector, .applatMeSelector{
 	padding:3px
 }
 .concavMeSelector.active, .convexMeSelector.active, .applatMeSelector.active{
 	border-color:#333
 }

.colorSelector {
  border: 1px solid #ccc;
  height: 25px;
  margin-top: 8px;
  padding: 0;
  text-indent: -5000px;
  vertical-align: top;
  width: 25px;
  background: rgb(20,95,201); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(20,95,201,1) 0%, rgba(82,188,67,1) 29%, rgba(234,222,49,1) 63%, rgba(239,0,23,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(20,95,201,1)), color-stop(29%,rgba(82,188,67,1)), color-stop(63%,rgba(234,222,49,1)), color-stop(100%,rgba(239,0,23,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(20,95,201,1) 0%,rgba(82,188,67,1) 29%,rgba(234,222,49,1) 63%,rgba(239,0,23,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(20,95,201,1) 0%,rgba(82,188,67,1) 29%,rgba(234,222,49,1) 63%,rgba(239,0,23,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(20,95,201,1) 0%,rgba(82,188,67,1) 29%,rgba(234,222,49,1) 63%,rgba(239,0,23,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(20,95,201,1) 0%,rgba(82,188,67,1) 29%,rgba(234,222,49,1) 63%,rgba(239,0,23,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#145fc9', endColorstr='#ef0017',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
}

.strokeSelector {
  border: 1px solid #ccc;
  height: 25px;
  margin-top: 8px;
  padding: 0;
  text-indent: -5000px;
  vertical-align: top;
  width: 25px;
  background: transparent  
}


.fontColorSelectUl > li, .strokeColorSelectUl > li {
	text-indent: -5000px;
	display: inline-block;
	border: 1px solid #CCC;
	margin: 2px;
	width: 15px;
	height: 15px;
	float: left;
	padding: 0;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.texteditor {
  border:1px solid #F5F5F5;
  /*background:url("../img/zone.png") repeat;*/
  clear: both;
  float: left;
  height: auto;
  line-height: 1.1em;
  margin: 0 !important;
  position: relative;
  text-align: center;
  width: 100% !important;
}



.texteditor > input{
	border:none;
	background:transparent;
	width:50%;
	height:100%;
	text-align:center;
	color: inherit;
}

.textzone{
	display:none
}

.textarea {
	display: inline-block !important;
	float: none;
	height: auto;
	padding: 5px;
	width: auto;
	background: #FFF;
	margin: auto !important;
	max-width: 100%;
	/*min-height: 2em;*/
}

.arcText {
  max-width: 120px;
  margin-top: 5px;
}
.arcSelector {
  display: none;
  max-width: 120px;
  text-align: center;
  vertical-align: bottom;
  font-size:18px!important;
  
}

.fontSelect span.submitText, .fontSelect span.submitTextItem , .submitCSText{
	background: #FFF;
	color: #333;
	/* background: #ccc; */
	font-family: arial;
	padding: 5px;
	position: relative;
	top: 0;
	float: right;
	display: inline-block;
	margin: 3px;
	/* clear: both; */
	line-height: 20px;
	border: 1px solid #DEDEDE;
	font-size: 10px;
	text-transform: uppercase;
}

.clear.clearfix.toolSeparate {
	margin: 0;
	/*border-top: 1px solid #ccc;*/
}

.ndkcsfields-block .icon,.ndkcsfields-block [class^="icon-"] {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.ndkcsfields-block .icon-align-left::before {
	content: "";
}

.ndkcsfields-block .icon-align-center::before {
	content: "";
}

.ndkcsfields-block .icon-align-right::before {
	content: "";
}